@inherits NewNoteModalComponentBase

<Modal Title="New note">
    <EditForm Model="Model" OnSubmit="OnSubmitAsync">
        <div class="modal-body">
            <div class="form-group">
                <InputTextArea class="form-control" @bind-Value="Model.Content"></InputTextArea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </EditForm>
</Modal>
