
<nav class="nav flex-column">
    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
        Note DotNet
    </NavLink>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-note-modal">
        +
    </button>
</nav>
