@page "/"
@inherits IndexComponentBase

@if (Notes == null)
{
    <div class="text-center">
        <h1 class="display-4">Note DotNet</h1>
    </div>
}
else
{
    <div class="row pt-3">
        <Pagination Limit="AppState.Limit" Offset="Notes.Offset" Total="Notes.Total" OnPageChanged="ChangePageAsync"></Pagination>
    </div>

    <div class="row pt-3">
        <div class="card-columns">
            @foreach (var note in Notes.Items)
            {
                <Note @key="@note.Id" Note="@note" OnEditClicked="NoteEditClicked" OnDeleteClicked="NoteDeleteClickedAsync"></Note>
            }
        </div>
    </div>
}

