@page "/"
@inherits IndexComponentBase

@if (Notes == null)
{
    <div class="text-center">
        <h1 class="display-4">Note DotNet</h1>
    </div>
}
else
{
    <div class="row pt-3">
        <div class="card-columns">
            @foreach (var note in Notes)
            {
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                @note.Content
                            </p>
                        </div>

                        @if (note.Tags != null)
                        {
                            <div class="card-footer">
                                @foreach (var tag in note.Tags)
                                {
                                    <span class="badge badge-pill badge-primary">@tag</span>
                                }
                            </div>
                        }
                </div>
            }
        </div>
    </div>
}

